// ==========================================================================
// ABOUT
// ==========================================================================//

.metal-detecting__pic {
    //design
    @extend .circle;
    opacity: 1;
    box-shadow: 10px 10px 5px -9px #888888;
    transform: translate(0, 0);
    
    //transitions
    @include transition(all 180ms ease);
    
    @include hover() {
        //design
        opacity: 0.9;
        box-shadow: 9px 10px 5px -9px #888888;
        transform: translate(1px, 1px);
    }
}