// ==========================================================================
// BUTTON RULES
// ==========================================================================//

.button {
    //base font-size
    font-size: 1.2em;

    //text
    font-family: $font-family--primary;
    font-weight: $font-weight--bold;
    @extend .uppercase;

    //design
    @include palette($white, $lightgold);
    @include hover($white, $gold);
    border-radius: 3px;
    
    //layout
    padding: 1em 2em;
}

.button__container {
    //layout
    text-align: center;
}