// ==========================================================================
// CONTACT
// ==========================================================================//

#contact {
    //design
    background: #CF9457 url("../img/contact.png") center;
    
    //layout
    @include padding-top-bottom(em(150px));
    min-height: 100vh;
    
	@include media ($xs) {
        //layout
		@include padding-top-bottom(em(100px));
	} 
}

.contact__title {
    @extend .section__title;
    
    //design
    color: $white;
}