// ==========================================================================
// CONTACT
// ==========================================================================//

#contact {
    //design
    background: #CF9457 url("../img/contact.png") center;
    
    //layout
    @include padding-top-bottom(em(150px));
    min-height: 667px;
    height: 100vh;

    //transitions
    @include transition(height 500ms linear); //bandaid for know issue where collapsing address bar changes viewport height on mobile

	@include media ($xs) {
        //layout
		@include padding-top-bottom(em(100px));
	} 
}

.contact__title {
    @extend .section__title;
    
    //design
    color: $white;
}