// ==========================================================================
// HEADER
// ==========================================================================//

header {
    //design
    background: #A77A40 url("../img/header.png") center;

    //layout
    @include padding-top-bottom(em(320px));
    min-height: 100vh;

	@include media ($xs) {
        //layout
        @include padding-top-bottom(em(130px));
	}
}

.header__title {
    //design
    color: $gold;
}

.header__sub-title {
    @extend .sub-title;

    //text
    font-family: $font-family--cursive;

    //design
    color: $white;
}