// ==========================================================================
// HEADER
// ==========================================================================//

header {
    //design
    background: #A77A40 url("../img/header.png") center / cover;

    //layout
    position: relative;
    @include padding-top-bottom(em(320px));
    min-height: 100vh;

	@include media ($xs) {
        //layout
        @include padding-top-bottom(em(110px), em(540px));
	}
}

.header__content {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10em;
}
.header__title {
    //design
    color: $gold;
}

.header__sub-title {
    @extend .sub-title;

    //text
    font-family: $font-family--cursive;

    //design
    color: $white;
}