// ==========================================================================
// TESTIMONIALS
// ==========================================================================//

#testimonials {
    //layout
    overflow: hidden; //allow container to be translated to the right.
}

.testimonial__container {
    
    //center testimonies on desktop
	@include media($md-min, "min") {
        //layout
        transform: translateX(50% - 16.667/2); //16.667 is the image length
	}
}

.testimony {
    //layout
	padding-bottom: 4.5em;
}

.testimony__line {
    //design
    background-color: $lightgrey;
    
    //layout
	position: absolute;
	@extend .center-abs;
	top: 40%;
	width: 3px;
    height: calc(150% + 4.5em); //height plus padding
}

.testimony__quote {
    //layout
    text-align: justify;
    margin-top: 1em;
}

.testimony__quote--name {
    //text
    font-size: 1.15em;
    @extend .bold;

    //design
    color: $lightblack;
}

.testimony__pic {
    //design
    @extend .circle;
	border: 6px solid $lightgrey;
	
    //layout
    z-index: $z-pseudo;
	position: relative;
}