// ==========================================================================
// PRIVACY POLICY
// ==========================================================================//

$padding: 3rem;

#privacy-policy {
    //design
    @include hr($lightblack);
    @include palette($black, $offwhite);
    border: 2px solid $lightgrey;
    border-radius: 1.2em;
    visibility: visible;
    opacity: 1;

    //layout
    z-index: $z-overlay;
	@extend .center-abs;
	top: 5rem;
	width: 90%;
	max-width: 1000px;
	max-height: 85%;
	overflow-y: auto;
	padding: $padding;

    //transitions
	@include transition(all 180ms linear);
}

#privacy-policy.is-hidden {
    //design
	visibility: hidden;
	opacity: 0;
}

.privacy-policy__container {
    //layout
    max-width: 720px;
}

.privacy-policy__close-icon {
    //design
    @include hover($trueblack);
    cursor: pointer;

    //layout
	top: $padding * 0.5;
	right: $padding * 0.5;
}

.privacy-policy__list {
    //design
    list-style: disc;

    //layout
    margin-left: 2em;
}