// ==========================================================================
// CURSOR RULES
// ==========================================================================//

.cursor {
    //design
    background: url("../img/cursor.png") no-repeat center;
    opacity: 1;
    visibility: hidden; //cursor only visible inside sandbox

    //layout
    position: absolute;
    transform: translate(-50%, -50%); //cursor shake
    z-index: 100;

    width: 256px;
    height: 256px;

    @media screen and (max-width: 767px) {
        //design
        background-size: 128px;
        opacity: 0; //cursor fadesInOut on mobile only
    }
}

//cursor invisible when not inside sandbox
.sandbox:hover {
    .cursor {
        visibility: visible;
    }
}

.cursor.is-searching {
    animation: shake 600ms cubic-bezier(.36,.07,.19,.97) both, fade 600ms normal;
}

//cursor shake
@include keyframes(shake) {
    30%, 70% {
        transform: translate(calc(-50% - 12px), -50%);
    }
    50% {
        transform: translate(calc(-50% + 12px), -50%);
    }
}

//cursor fadesInOut on mobile only
@media screen and (max-width: 767px) {
    @include keyframes(fade) {
        0%, 100% {
            opacity: 0;
        }
        67% {
            opacity: 1;
        }
    }
}