@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash);
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  margin: 0;
}

body, p, li {
  color: #0B0B0B;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

html {
  background-image: url(../img/sand.png);
}

body {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  -moz-transition: color 150ms linear;
  -o-transition: color 150ms linear;
  -webkit-transition: color 150ms linear;
  transition: color 150ms linear;
}
a:hover {
  color: #FDC401;
}

img {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}

.sandbox {
  cursor: none;
  height: 100%;
  width: 100%;
}

.cursor {
  background: url(../img/cursor.png) no-repeat center;
  opacity: 1;
  visibility: hidden;
  position: absolute;
  z-index: 100;
  width: 256px;
  height: 256px;
}
@media screen and (max-width: 767px) {
  .cursor {
    background-size: 128px;
    opacity: 0;
  }
}

.sandbox:hover .cursor {
  visibility: visible;
}

.cursor.is-searching {
  transform: translate(0);
  animation: shake 600ms cubic-bezier(0.36, 0.07, 0.19, 0.97) both, fade 600ms normal;
}

@-moz-keyframes shake {
  30%, 70% {
    -moz-transform: translate(-12px);
    transform: translate(-12px);
  }
  50% {
    -moz-transform: translate(12px);
    transform: translate(12px);
  }
}
@-webkit-keyframes shake {
  30%, 70% {
    -webkit-transform: translate(-12px);
    transform: translate(-12px);
  }
  50% {
    -webkit-transform: translate(12px);
    transform: translate(12px);
  }
}
@keyframes shake {
  30%, 70% {
    -moz-transform: translate(-12px);
    -ms-transform: translate(-12px);
    -webkit-transform: translate(-12px);
    transform: translate(-12px);
  }
  50% {
    -moz-transform: translate(12px);
    -ms-transform: translate(12px);
    -webkit-transform: translate(12px);
    transform: translate(12px);
  }
}
@media screen and (max-width: 767px) {
  @-moz-keyframes fade {
    0%, 100% {
      opacity: 0;
    }
    67% {
      opacity: 1;
    }
  }
  @-webkit-keyframes fade {
    0%, 100% {
      opacity: 0;
    }
    67% {
      opacity: 1;
    }
  }
  @keyframes fade {
    0%, 100% {
      opacity: 0;
    }
    67% {
      opacity: 1;
    }
  }
}
header {
  font: 26px/56px "Kaushan Script", Helvetica, Arial, cursive;
  height: 56px;
  text-align: center;
  background: #262626;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  backface-visibility: hidden;
  position: fixed;
  z-index: 500;
  width: 100%;
}

.title {
  color: #FED239;
  transform: translateX(-14px);
}

.back-button {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  padding: 0 20px;
}

.treasure {
  opacity: 0;
  position: absolute;
  z-index: 200;
  padding: 30px 20px;
}
@media screen and (max-width: 767px) {
  .treasure {
    padding: 0;
  }
}

.treasure.is-found {
  opacity: 1;
  z-index: 50;
  -moz-transition: opacity 1300ms ease;
  -o-transition: opacity 1300ms ease;
  -webkit-transition: opacity 1300ms ease;
  transition: opacity 1300ms ease;
}

.treasure[data-treasure="bottlecap"] {
  top: 24%;
  left: 20%;
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 767px) {
  .treasure[data-treasure="bottlecap"] {
    width: 50px;
    height: 50px;
  }
}

.treasure[data-treasure="nail"] {
  top: calc(20px + 12%);
  right: 34%;
  width: 160px;
  height: 48px;
}
@media screen and (max-width: 767px) {
  .treasure[data-treasure="nail"] {
    width: 80px;
    height: 24px;
  }
}

.treasure[data-treasure="penny"] {
  bottom: 18%;
  left: 8%;
  width: 80px;
  height: 80px;
}
@media screen and (max-width: 767px) {
  .treasure[data-treasure="penny"] {
    width: 40px;
    height: 40px;
  }
}

.treasure[data-treasure="coil"] {
  top: 50%;
  left: 36%;
  width: 180px;
  height: 88px;
}
@media screen and (max-width: 767px) {
  .treasure[data-treasure="coil"] {
    width: 90px;
    height: 44px;
  }
}

.treasure[data-treasure="hook"] {
  top: 28%;
  right: 10%;
  width: 140px;
  height: 140px;
}
@media screen and (max-width: 767px) {
  .treasure[data-treasure="hook"] {
    width: 70px;
    height: 70px;
  }
}

.treasure[data-treasure="ring"] {
  bottom: 10%;
  right: 14%;
  width: 124px;
  height: 124px;
}
@media screen and (max-width: 767px) {
  .treasure[data-treasure="ring"] {
    width: 62px;
    height: 62px;
  }
}

.parchment {
  font: 4vmin / 1.5 'Berkshire Swash', cursive;
  background: url(../img/parchment.png) center/contain no-repeat;
  cursor: default;
  position: absolute;
  z-index: 300;
  top: calc(44% + 56px);
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(90% - 56px);
  -moz-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.parchment-list__container {
  position: relative;
  top: 50%;
}

.parchment-list {
  list-style-type: lower-roman;
  white-space: nowrap;
  transform: translate(10%, -70%);
  padding: 0;
  margin-left: 5em;
  margin-right: 5em;
  transform: translate(10%, -70%);
}

[data-treasure-item].is-checked {
  text-decoration: line-through;
}

.parchment__close-icon {
  color: #FED239;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  padding: 1em;
  top: -1.8em;
  right: -1.8em;
  -moz-transition: color 150ms ease;
  -o-transition: color 150ms ease;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}
.parchment__close-icon:hover {
  color: #FDC401;
}

.parchment.is-minimized {
  font-size: 0.7vmin;
  cursor: pointer;
  top: 90%;
  height: 15%;
}
.parchment.is-minimized .parchment__close-icon {
  pointer-events: none;
}

/*# sourceMappingURL=style.css.map */
