// ==========================================================================
// COLORS
// ==========================================================================//

//Custom colors

$gold: #FDC401;
$lightgold: #FED239;
$offwhite: #F7F7F7;
$lightgrey: #ECECEC;
$mediumgrey: #777;
$lightblack: #333;
$mediumblack: #222;

// Color Usage

$color-primary: $gold;
$color-secondary: $gold;


// Common Colors

$white: #fff;
$grey: #797e83;
$black: #0b0b0b;
$trueblack: #000;